---
---

@import "{{ site.theme }}";
.page-header {
  color: #ffff;
  background-color: #1b0b36;
  background-image: url(https://raw.githubusercontent.com/federicodeservi/dataman-viz-project/master/docs/movie_header.jpg);
  background-size: cover;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  color: #ffff;
  opacity: 1;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #1b0b36;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #ffff;
  background-color: #1b0b36;
  border-color: #ffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  }

body {
  align-items: center !important;
  margin: 0 auto !important;
}

iframe{
display:block !important;
margin:auto !important;
align-items: center !important;
}
