---
---

@import "{{ site.theme }}";
.page-header {
  color: #ffff;
  background-color: #1b0b36;
  background-image: url(https://raw.githubusercontent.com/federicodeservi/dataman-viz-project/master/docs/movie_header.jpg);
  background-size: cover;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  color: #ffff;
  opacity: 1;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 75rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #1b0b36;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #ffff;
  background-color: #1b0b36;
  border-color: #ffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: #ffff;
    text-decoration: none;
    background-color: #bd1e13;
    border-color: #ffff;
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

body {
  align-items: center !important;
  margin: 0 auto !important;
}

iframe{
display:block !important;
margin:auto !important;
align-items: center !important;
}

@media all and (orientation:landscape) {

    #div-mobile { display: none; }
    #div-desktop { display: block; }

}

@media all and (orientation:portrait) {

    #div-mobile { display: block; }
    #div-desktop { display: none; }

}
