---
---

@import "{{ site.theme }}";
.page-header {
  color: #ffff;
  background-color: #1b0b36;
  background-image: url(https://raw.githubusercontent.com/federicodeservi/dataman-viz-project/master/docs/movie_header.jpg);
  background-size: cover;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  color: #ffff;
  opacity: 1;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

body {
  align-items: center !important;
  margin: 0 auto !important;
}

iframe{
display:block !important;
margin:auto !important;
align-items: center !important;
}
